p {
  font-family: "ArcadeClassic";
  color: #fe5e53;
  font-size:20px;
    background: linear-gradient(#0c81be,#f5f4f5,#fc5bbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
